priv.el
.cache
.cask/
.dap-breakpoints
.lsp-session-v1
async-bytecomp.log
projectile.cache
ac-comphist.dat
bookmarks
gtkrc
flycheck_init.elc
eshell/
auto-save-list/
elpa/
elpy/
emojis/
exwm-x/
forge-database.sqlite
init.elc
projectile-bookmarks.eld
recentf
recentf~
request/
transient/
var/
